.whatsapp-link{
	width: 380px;
	background: #303030;
	border-radius: 0px 30px 30px 0px;
	position: fixed;
	bottom: 5px;
	z-index: 999999;
	animation-name: pulse;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.whatsapp-link a{
	color: #fff;
	font-weight: lighter;
	font-size: 15px;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 5px 20px;
}
.whatsapp-link a img{
	width: 35px;
	margin: 0px 5px 0px 0px;
}
.whatsapp-link a p{
	display: flex;
  align-items: center;
	margin: 0px;
}
@keyframes pulse {
	0%  {left:-400px;}
	25% {left:0px;}
  50% {left:0px;}
  75% {left:0px;}
  100%{left:-400px;}
}
